.title{
  margin-left: 5%;
  margin-top: 5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.crearte-button{
  margin-right: 5%;
  margin-bottom: 2%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

tr{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

th{
  font-family:Georgia, 'Times New Roman', Times, serif
}
