<div>
  <div kendoDialogContainer></div>

  <h1 class="text-primary title">Books</h1>

  <div class="text-right">
    <i class="bi bi-plus-circle"></i>

    <button [routerLink]="['/book/add']" type="button" class="btn btn-primary btn-lg crearte-button">
      <span>Create </span>
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div style="margin-left: 5%; margin-right: 5%;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col-xs-2">Name</th>
          <th scope="col-xs-2">Release Date</th>
          <th scope="col-xs-2">Publiser</th>
          <th scope="col-xs-2">Authors</th>
          <th scope="col-xs-4">Settings</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of books;  let i = index" style="font-family:Georgia, 'Times New Roman', Times, serif">
          <td scope="col-xs-2">{{item.name}}</td>
          <td scope="col-xs-2">{{item.releaseDate | date}}</td>
          <td scope="col-xs-2">{{item.publisher.firstName +" "+ item.publisher.lastName}}</td>
          <td scope="col-xs-4">
            <p *ngFor="let _author of item.authors"> {{_author.name}} </p>

          </td>
          <td>
            <div style="padding-top: 5px; padding-bottom: 5px;">

              <span [routerLink]="['/book/edit/',item.id]" class="btn btn-warning">Edit
                <i class="fa fa-pencil"></i>
              </span>

              <span [routerLink]="['/book/details/',item.id]" class="btn btn-primary"
                style="margin-left: 1%;margin-right: 1%;">
                View
                <i class="fa fa-eye"></i>
              </span>

              <button type="button" (click)="open()" class="btn btn-danger" data-toggle="modal" data-target="#i">
                <span>Delete </span>
                <i class="fa fa-trash"></i>
              </button>

              <kendo-dialog title="Delete a book" *ngIf="openDialog" (close)="close()" [minWidth]="250" [width]="450">
                <p style="margin: 30px; text-align: center;">
                  Are you sure you want to Delete {{item.name}}?
                </p>
                <kendo-dialog-actions>
                  <button kendoButton (click)="close()">No</button>
                  <button kendoButton (click)="delete(item.id)" primary="true">Yes</button>
                </kendo-dialog-actions>
              </kendo-dialog>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
