<div style="background-color: #337ab7; color: white; padding: 3%; font-size: xx-large;">
  Create Publisher
</div>

<div style="padding: 2%; background-color: #f6f6f6;">
  <form [formGroup]="publisherForm" (ngSubmit)="submit()" #publisherForm_="ngForm">
      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="inputFirstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First Name" name="FirstName" formControlName="firstName" />
              <div *ngIf="publisherForm_.submitted && (publisherForm.controls['firstName']?.errors?.required || publisherForm.controls['firstName']?.value?.trim().length === 0)" class="alert alert-danger">
                  First Name is required
              </div>

              <div *ngIf="publisherForm_.submitted && publisherForm.controls['firstName']?.errors?.minlength && publisherForm.controls['firstName']?.value?.trim().length !== 0" class="alert alert-danger">
                  Name must be more than 10
              </div>
              <div *ngIf="publisherForm_.submitted && publisherForm.controls['firstName']?.errors?.maxlength &&  publisherForm.controls['firstName']?.value?.trim().length !== 0" class="alert alert-danger">
                  Name must be more less than 20
              </div>
          </div>
          <div class="form-group col-md-6">
              <label for="inputLastName">Last Name</label>
              <input required type="text" class="form-control" placeholder="Last Name" name="LastName" formControlName="lastName" />
              <div *ngIf="publisherForm_.submitted && (publisherForm.controls['lastName']?.errors?.required || publisherForm.controls['lastName']?.value?.trim().length === 0)" class="alert alert-danger">
                  Last Name is required
              </div>
              <div *ngIf="publisherForm_.submitted && publisherForm.controls['lastName']?.errors?.minlength &&  publisherForm.controls['lastName']?.value?.trim().length !== 0" class="alert alert-danger">
                  Name must be more than 5
              </div>
              <div *ngIf="publisherForm_.submitted && publisherForm.controls['lastName']?.errors?.maxlength &&  publisherForm.controls['lastName']?.value?.trim().length !== 0" class="alert alert-danger">
                  Name must be more less than 10
              </div>
          </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" name="Email" placeholder="email@example.com" formControlName="email" />
              <div *ngIf="publisherForm_.submitted && publisherForm.controls['email']?.errors?.email" class="alert alert-danger">
                  please enter your email correctly.
              </div>
              <div *ngIf="publisherForm_.submitted && !publisherForm.controls['email']?.value && !publisherForm.controls['phone']?.value" class="alert alert-danger">
                  Please, You should enter ethier email or phone number.
              </div>
          </div>
          <div class="form-group col-md-6">
              <label for="inputPhone">Phone</label>
              <input type="phone" class="form-control" placeholder="0950559021" name="Phone" formControlName="phone" />
              <div *ngIf="publisherForm_.submitted && publisherForm.controls['phone']?.errors?.maxlength && publisherForm.controls['phone']?.errors?.minlength" class="alert alert-danger">
                  Phone number must be 10 digits
              </div>
          </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" name="address" placeholder="Your Email address" formControlName="address" />
              <div *ngIf="publisherForm_.submitted && (publisherForm.controls['address']?.errors?.required || publisherForm.controls['address']?.value?.trim().length === 0)" class="alert alert-danger">
                  Address is required
              </div>

              <div *ngIf="publisherForm_.submitted && publisherForm.controls['address']?.errors?.minlength &&  publisherForm.controls['address']?.value?.trim().length !== 0" class="alert alert-danger">
                  Address be more than 3
              </div>

              <div *ngIf="publisherForm_.submitted && publisherForm.controls['address']?.errors?.maxlength &&  publisherForm.controls['address']?.value?.trim().length !== 0" class="alert alert-danger">
                  Address must be more less than 10
              </div>
          </div>
      </div>

      <div style="padding: 1%;">
          <button type="submit" class="btn btn-primary">Add</button>
      </div>
  </form>
</div>
