<div class="  background: #6c757d;">
  <div class="title">Book Information</div>
  <div class="content">
    <div>
      <span style="margin-right: 1%;">Book Name:</span>
      <span>{{ bookResource.name}}.</span>
    </div>

    <div >
      <span style="margin-right: 1%;">Publish Date:</span>
      <span>{{ bookResource.releaseDate | date}}.</span>
    </div>

    <div style="margin-top: 1%;">
      <span style="margin-right: 1%;">Authors:</span>
      <div  style="margin-top: 1%;" *ngFor="let item of bookResource.authors">{{ item.name}}.</div>
    </div>



    <div style="margin-top: 1%;">
      <span>Publisher: </span>
      <div  style="margin-top: 1%;">
        <span style="margin-right: 1%;">{{ bookResource?.publisher?.firstName  }}</span>
        <span style="margin-right: 1%;">{{ bookResource?.publisher?.lastName  }}.</span>
      </div>
    </div>

  </div>

</div>
