<div style="background-color: #337ab7; color: white; padding: 3%; font-size: xx-large;">
  <span *ngIf="isAddMode"> Create a book</span>
  <span *ngIf="!isAddMode"> Update the book</span>
</div>

<div style="padding: 2%; background-color: #f6f6f6;">
  <form [formGroup]="bookForm" (ngSubmit)="submit()" #bookForm_="ngForm">
      <div class="form-row">
          <div class="form-group col-md-4">
              <label for="inputName"> Name</label>
              <input type="text" class="form-control" id="name" placeholder="Book Name" name="name" formControlName="name" />
              <div *ngIf="bookForm_.submitted && (bookForm.controls['name']?.errors?.required || bookForm.controls['name']?.value?.trim().length === 0)" class="alert alert-danger">
                   Name is required
              </div>

              <div *ngIf="bookForm_.submitted && bookForm.controls['name']?.errors?.minlength && bookForm.controls['name']?.value?.trim().length !== 0" class="alert alert-danger">
                  Name must be more than 5
              </div>
              <div *ngIf="bookForm_.submitted && bookForm.controls['name']?.errors?.maxlength &&  bookForm.controls['name']?.value?.trim().length !== 0" class="alert alert-danger">
                  Name must be more less than 35
              </div>
          </div>

          <div class="form-group col-md-4">
            <p>Authors:</p>
            <kendo-multiselect   (valueChange)="authorsValues($event)"   [data]="authors" textField="name" valueField="id"></kendo-multiselect>
          </div>


          <div class="form-row">
            <div class="col-xs-12 col-md-4">
              <p>Publisher</p>
              <kendo-dropdownlist  (valueChange)="publisherValue($event)"  [data]="publishers" textField="firstName" valueField="id"> </kendo-dropdownlist>
            </div>
          </div>
      </div>


      <div class="form-row">
        <div class="col-xs-12">
          <p>Publish  Date</p>
          <kendo-calendar (valueChange)="publishValue($event)" [type]="'classic'"></kendo-calendar>
        </div>
      </div>


      <div style="padding: 1%;">
          <button type="submit"  class="btn btn-primary" *ngIf="isAddMode">Add</button>
          <button type="submit"  class="btn btn-primary" *ngIf="!isAddMode">Update</button>
      </div>
  </form>
</div>
